 <section id="hero">
        <div class="row">
          <div class="large-12 columns">
              <h2>Unique Selling Proposition Main Headline</h2>
          </div>
        </div>
        <div class="row">
          <div class="large-6 small-12 columns">
            <div class="flex-video widescreen">
              <object width="640" height="360">
                <param name="movie" value="https://www.youtube.com/v/i_mKY2CQ9Kk?controls=0&rel=0&showinfo=0&version=3"></param>
                <param name="allowFullScreen" value="true"></param>
                <param name="allowScriptAccess" value="always"></param>
                <embed src="https://www.youtube.com/v/i_mKY2CQ9Kk?controls=0&rel=0&showinfo=0&version=3" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="360"></embed>
              </object>
            </div>
          </div>
          <div class="large-6 small-12 columns">
            <h3>Supporting Headline.</h3>
            <h4>Reinforcement statement!</h4>
            <p>Closing argument.</p>
            <p style="text-align: right;"><a href="#" class="button radius">Summon</a></p>
          </div>
        </div>
  </section>