<html>
<head>
  <link rel="stylesheet" href="bower_components/foundation/css/foundation.css"/>
  <link rel="stylesheet" href="style.css"/>
  <script src="bower_components/foundation/js/vendor/jquery.js"></script>
  <script src="bower_components/foundation/js/foundation.min.js"></script>
</head>
<body>

<header>
  <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">

        <li class="name">
          <h1>
            <a href="#">
              Your Name Here
            </a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>

      <section class="top-bar-section">

        <ul class="right">
          <li class="divider"></li>
          <li class="">
            <a href="#">Home</a>
          </li>
          <li class="divider"></li>
          <li><a href="#">About</a></li>
          <li class="divider"></li>
          <li class="">
            <a href="#">Contact</a>
          </li>
          <li class="divider"></li>
        </ul>
      </section>
    </nav>
  </div>
  <section id="hero">
        <div class="row">
          <div class="large-12 columns">
              <h2>Unique Selling Proposition Main Headline</h2>
          </div>
        </div>
        <div class="row">
          <div class="large-6 small-12 columns">
            <div class="flex-video widescreen">
              <object width="640" height="360">
                <param name="movie" value="https://www.youtube.com/v/i_mKY2CQ9Kk?controls=0&rel=0&showinfo=0&version=3"></param>
                <param name="allowFullScreen" value="true"></param>
                <param name="allowScriptAccess" value="always"></param>
                <embed src="https://www.youtube.com/v/i_mKY2CQ9Kk?controls=0&rel=0&showinfo=0&version=3" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="360"></embed>
              </object>
            </div>
          </div>
          <div class="large-6 small-12 columns">
            <h3>Supporting Headline.</h3>
            <h4>Reinforcement statement!</h4>
            <p>Closing argument.</p>
            <p style="text-align: right;"><a href="#" class="button radius">Summon</a></p>
          </div>
        </div>
  </section>
</header>

<section id="middle">
  <section id="the-benefits">
        <div class="row">
          <div class="large-12 columns">
            <div class="row featured-sections">

              <div class="large-4 columns">
                <a class="featured-section-image has-angry-dad-cat-background has-background-image-cover">&nbsp;</a>
                <h5>Benefit Title</h5>
                <p>
                  Kitten Ipsum dolor sit amet discovered, feugiat Nunc cat he Mauris convallis boy. Kitten, pharetra found tortor petting Etiam dignissim saved. Dolor, ligula cute rip the couch eyes spoon. Urna honey lacinia climb the curtains knock over the lamp cat vel box id local dignissim aliquet nibh here, Curae mom volutpat felis lady fun. Ham my ac sit urna volutpat photobomb pillow little diam gravida Praesent arcu healing ornare she ante eyes Morbi natoque boy sit spoon risus birthday. Aliquam, ambush In rutrum home basket ultrices elementum?</p>
              </div>

              <div class="large-4 columns">
                <a class="featured-section-image has-tiger-cat-background has-background-image-cover">&nbsp;</a>
                <h5>Benefit Title</h5>
                <p>Mom's, catnip sed ridiculus sollicitudin cat she ac love porttitor. Nec porta, skeptical Gizmo lacus Donec sleepy Praesent nostra thinks rescue! Baxter best, cat 9th 9th here vel kitty age feugiat cats cat tabby urna ambush ornare rutrum. Love euismod heart et bed congue cats love neque varius 9th 9 lives malesuada Fusce at eat photobomb Nunc curls, ut est cat nulla steal! Enim consectetur ac vehicula nina friendly basket 9 lives tail Donec, grazing cats adipiscing face at sed vitae laoreet spoon porta he vel hiding. Sit in enim ut a auctor, elit cute facilisis pumpkin a tempus cat kat front siamese tincidunt aptent petting attack your ankles adipiscing ipsum. Odd, chuf dui Calvin redditor.</p>
              </div>

              <div class="large-4 columns">
                <a class="featured-section-image has-weird-cat-background has-background-image-cover">&nbsp;</a>
                <h5>Benefit Title</h5>
                <p>Passive nunc dolor Pellentesque feugiat odio velit consectetur somebody vehicula smokey bed potenti enim Donec id siam? Cats, himenaeos hai birdwatch toss the mousie. Fight, metus babies sister Aliquam pulvinar saved 9th kittens! Porttitor, id medium hair justo sagittis et montes. Nunc, dolor zzz vel scelerisque kitty cat turpis? Leo dolor new feel scottish fold cat quis nap family snuggliest pellentesque nostra ut, quam erat non siamese her petting sitting mom spoon! Tincidunt a ornare bibendum quis diam browsing neque id cute egestas leo siamese?</p>
              </div>

            </div>
          </div>
        </div>
  </section>
  <section id="the-proof">
        <div class="row">
          <div class="large-12">
              <h2>Social Proof Headline</h2>
          </div>
          <ul class="small-block-grid-3">
            <li><img src="http://placehold.it/100x100" /></li>
            <li><img src="http://placehold.it/100x100" /></li>
            <li><img src="http://placehold.it/100x100" /></li>
            <li><img src="http://placehold.it/100x100" /></li>
            <li><img src="http://placehold.it/100x100" /></li>
            <li><img src="http://placehold.it/100x100" /></li>
          </ul>
        </div>
  </section>
  <section id="the-call-to-action">
        <div class="row">
          <div class="large-12 columns">
              <h2>Unique Selling Proposition Main Headline</h2>
          </div>
        </div>
        <div class="row">
          <div class="large-6 small-12 columns">
            <div class="flex-video widescreen">
              <a href="" class="has-background"></a>
            </div>
          </div>
          <div class="large-6 small-12 columns">
            <h3>Supporting Headline.</h3>
            <h4>Reinforcement statement!</h4>
            <p>Closing argument.</p>
            <p style="text-align: right;"><a href="#" class="button radius">Summon</a></p>
          </div>
        </div>
  </section>
</section>

<footer class="row">
  <div class="large-12 columns"><hr>
      <div class="row">

        <div class="large-6 columns">
            <p>&copy; Copyright Your Name Here</p>
        </div>

        <div class="large-6 small-12 columns">
            <ul class="inline-list right">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
            </ul>
        </div>

      </div>
  </div>
</footer>
  <script>
  document.write('<script src=bower_components/foundation/js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="bower_components/foundation/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>