{# Flask-Rum [Version 0.10.0] #}

{% extends rum['theme']+'onecol.html' %}

{% block rum_header %}
  {% block rum_nav %}
    {% include rum['nav'] %}
  {% endblock %}
<div class="row">
 <div class="medium-12 columns">
  <div style="background-image: url('http://c1.staticflickr.com/1/100/311395405_606bdc0954_z.jpg'); max-width: 100%; height: 420px; background-repeat: no-repeat; background-size: cover; background-position: center center;" id="banner">
  </div>
 </div>
</div>
{% endblock %}

{% block rum_content %}
    <div class="panel">
    <P > This is the about page  </P>
    <p>boom goes the dynomite!</p>
    </div>
{% endblock %}

{% block rum_footer %}
   {% include rum['footer'] %}
{% endblock %}
