{# Flask-Rum [Version 0.1.1]
 Theme: BANANA (by David@Allstruck.com)
One Column Template #}

{% extends 'rum/main.html' %}

{% block rum_head %}
    <link rel="stylesheet" href="{{ url_for('rum.static', filename='banana/style.css') }}" />
{% endblock rum_head %}

{% block header %}
<div id="rum_header">
 {% block rum_header %}
   {% block rum_nav %} {% endblock %}
   {% block hero %}{% include 'banana/hero.html' %} {% endblock %}
 {% endblock rum_header %}
</div>
{% endblock header %}

{% block middle %}
<div class="row" id="rum_middle">
    {% block rum_middle %}
      {% block rum_content %} {% endblock %}
    {% endblock rum_middle %}
</div>
{% endblock middle %}

{% block footer %}
<div class="row" id="rum_footer">
        {% block rum_footer %} {% endblock %}
</div>
{% endblock footer %}

